<div class="container-fluid text-center">
  <!-- Search Users Input -->
  <div class="row mt-3">
    <div class="col-sm-12">
      <mat-form-field class="user-input-width" appearance="outline">
        <mat-label>Search by user name</mat-label>
        <input
          #searchInput
          matInput
          placeholder="Enter user name"
          (input)="onUserNameChange($event.target.value)"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Users List -->
  <div
    class="movie-list"
    *ngIf="clonedUsers.length; else UsersNotFound"
    cdkDropList
    (cdkDropListDropped)="onDragUser($event)"
  >
    <div
      class="movie-block"
      *ngFor="let user of clonedUsers; let i = index"
      cdkDrag
    >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            #tooltip="matTooltip"
            matTooltip="User Name"
            matTooltipPosition="right"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
            class="title-margin"
            >{{ user.first_name }} {{ user.last_name }}</mat-card-title
          >
          <mat-card-subtitle
            #tooltip="matTooltip"
            matTooltip="Email Address"
            matTooltipPosition="right"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
            >{{ user.email }}</mat-card-subtitle
          >
        </mat-card-header>
        <img mat-card-image [src]="user.avatar" alt="User Image" />
        <mat-card-content>
          <p>Card Number {{ i + 1 }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- If users list empty -->
  <ng-template #UsersNotFound>
    <div class="text-center m-4">
      <img src="assets/images/no-data-to-show.png" />
    </div>
  </ng-template>

  <!-- Pagination control -->
  <div class="row" *ngIf="clonedUsers.length">
    <div class="col-md-12">
      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.6)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
