/* You can add global styles to this file, and also import other style files */
.mat-card-header-text {
  margin: 0px 0px !important;
}

.mat-button-wrapper {
  visibility: hidden !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}
